.Input {
    margin-top: 5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .Input h2 {
        color: rgb(255, 255, 255);
        font-weight: 300;
        font-size: 1.2em;
    }

    .Input input {
        margin-top: 1.5em;
        background: white;
        color: black;
        opacity: 0.6;
        border: none;
        width: 500px;
        outline: none;
        font-size: 1.1em;
        padding: 1em;
        border-radius: 10px;
    }

.AutocompleteBtn {
    padding: 1em;
    background-color: white;
    width: 420px;
    opacity: 0.4;
    border-bottom: rgb(134, 134, 134) 1px solid;
    cursor: pointer;
}

    .AutocompleteBtn:hover {
        opacity: 0.6;
    }

    .AutocompleteBtn:last-child {
        border-radius: 0px 0px 10px 10px
    }
